<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Piano</title>
  <link rel="stylesheet" href="/css/navigation.css" type="text/css">
  <link rel="stylesheet" href="/css/materialize.min.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Drum machine</a></li>
      <li><a href="/upload">Sounds import</a></li>
      <li><a href="/piano">Piano</a></li>
    </ul>
  </div>
</nav>

{{{body}}}

<footer>
    <script src="/javascript/jquery-3.4.1.min.js"></script>
    <script src="/javascript/materialize.min.js"></script>
</footer>
</body>
</html>