{{#content "links"}}
    <link rel="stylesheet" href="css/homePage.css" type="text/css">
{{/content}}

<div class="containerDrum player"></div>

{{#content "scripts"}}
    <script src="/javascript/homePageScript.js"></script>
{{/content}}


