{{#content "links"}}
    <link rel="stylesheet" href="/css/piano.css" type="text/css">
{{/content}}

<div class="piano">
    <button class="white-key C4-key"></button>
    <button class="black-key Db4-key"></button>
    <button class="white-key D4-key"></button>
    <button class="black-key Eb4-key"></button>
    <button class="white-key E4-key"></button>
    <button class="white-key F4-key"></button>
    <button class="black-key Gb4-key"></button>
    <button class="white-key G4-key"></button>
    <button class="black-key Ab4-key"></button>
    <button class="white-key A4-key"></button>
    <button class="black-key Bb4-key"></button>
    <button class="white-key B4-key"></button>
    <button class="white-key C5-key"></button>
    <button class="black-key Db5-key"></button>
    <button class="white-key D5-key"></button>
    <button class="black-key Eb5-key"></button>
    <button class="white-key E5-key"></button>

    <button class="white-key Q1-key"></button>
    <button class="black-key Q2-key"></button>
    <button class="white-key Q3-key"></button>
    <button class="black-key Q4-key"></button>
    <button class="white-key Q5-key"></button>
    <button class="black-key Q6-key"></button>
    <button class="white-key Q7-key"></button>
    <button class="white-key Q8-key"></button>
    <button class="black-key Q9-key"></button>
    <button class="white-key Q10-key"></button>
    <button class="black-key Q11-key"></button>
    <button class="white-key Q12-key"></button>
    <button class="white-key Q13-key"></button>
    <button class="black-key Q14-key"></button>
    <button class="white-key Q15-key"></button>
    <button class="black-key Q16-key"></button>
    <button class="white-key Q17-key"></button>
    <button class="black-key Q18-key"></button>
    <button class="white-key Q19-key"></button>
    <button class="white-key Q20-key"></button>

</div>

<form action="/pianoPost" method="post">
    <input type="text" name="test" value="bite">
    <input type="submit" value="submit">
</form>

{{#content "scripts"}}
    <script src="/javascript/piano.js"></script>
{{/content}}
