{{#content "links"}}
    <link rel="stylesheet" href="/css/styleUpload.css" type="text/css">
{{/content}}

<div class="containerDrum player"></div>

{{#content "scripts"}}
    <script src="/javascript/scriptUpload.js"></script>
{{/content}}